// Place all the styles related to the bookmarks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

article h4 {
  font-size: 1.2em;
  font-weight: normal;
}

article {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #bbb;
  .meta {
    color: $uncolor;
    a {
      color: $uncolor;
      &:hover {
        color: #fff;
      }
    }
  }
}

#new-bookmark {
  float: right;
}

p.url {
  a {
    color: #666;
    &:hover {
      color: #fff;
    }
  }
}

.pagination {
  text-align: center;
  margin-top: 10px;
  em {
    font-style: normal;
    background: #777;
    // color: #1a1a1a;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 3px;
  }
}

article:hover {
  span.actions {
    float: right;
    display: inline;
    a {
      background: #666;
      color: #fff;
      padding-top: 2px;
      padding-bottom: 3px;
      padding-right: 4px;
      padding-left: 4px;
      &:hover{
        background: green;
      }
    }
  }
}

article {
  span.actions {
    display: none;
  }
}

.actions {
  font-size: 0.7em;
  line-height: 1em;
  padding-left: 10px;
}

form {
  .field {
    input, textarea {
      padding: 3px;
      width: 99%;
      font-size: 1.2em;
      font-weight: bold;
    }
    input[type=checkbox] {
      width: 1em;
      height: 1em;
      padding: 0px;
    }
    textarea {
      width: 99.5%;
      font-size: 1.0em;
      height: 100px;
    }
    &.private {
      text-align: right;
      float: right;
    }
  }
  .actions {
    text-align: right;
    font-size: 1.2em;
    padding: 0px;
  }
}

.bookmark_count {
  // color: #333;
  margin-top: 10px;
  text-align:center;
  font-size: 0.8em;
}

section#bookmark {
  width: 800px;
  margin: 0 auto;
  h2 {
    border: none;
  }
  form {
    background: #000;
    padding: 20px;
  }
}

