body {
  font-size: 14px;
  line-height: 20px;
}

h1, h2, h3, h4, h5, h6 {
}

h2 {
  font-size: 1.4em;
  padding-bottom: 10px;
  border-bottom: 4px solid #222;
  margin-bottom: 10px;
}

h3 {
  font-size: 1.2em;
  padding-bottom: 10px;
}

h4 {
}
