.container {
  margin: 0 auto;
  width: 950px;
}

header {
  @include clearfix;
  color: #000;
  display: block;
  background: #fff;
  line-height: 45px;
  border-bottom: 2px solid #aaa;
  h1 {
    padding-right: 35px;
    float: left;
    font-family: Georgia;
    font-size: 1.4em;
    font-weight: normal;
    a {
      background: black;
      color: white !important;
      padding: 4px;
      padding-right: 8px;
      padding-left: 8px;
    }

  }
  nav#profile {
    float: right; }
  nav#main {
    a {
      margin-right: 10px;
    }
  }
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

section {
  padding-bottom: 10px;
}

body { 
  background-color: #ccc9c5;
}

#main .container {
  @include rounded;
  background: #fff; 
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 50px;
  min-height: 300px;
}
