// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

section#login, section#signup {
  padding: 10px;
  width: 450px;
  margin: 0 auto;
  h2 {
    border: none;
  }
  form {
    background: #eee;
    padding: 20px;
    margin-bottom: 10px;
    label {
      display: block;
      padding-bottom: 3px;
    }
  }
  label {
    // color: #ddd;
  }
  .field input {
    width: 98%;
    font-size: 2em;
    font-weight: bold;
  }
  .actions {
    padding: 0px;
    font-size: 1.2em;
    width: 100%;
    text-align: right;
  }
}

