// Place all the styles related to the tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

article {
  .tags {
    float: right;
    a {
      // background: #720000;
      background: #000;
      // background: #783258;
      // background: #4d3339;
      // background: #3f0129;
      // background: #433c2e;
      // color: #f552a3;
      // color: #ddd;
      color: #fff;
      padding-left: 4px;
      padding-right: 4px;
      padding-top: 2px;
      padding-bottom: 3px;
      &:hover {
        background: red;
      }
    }
  }
}

.taglist {
  @include clearfix;
  width: 100%;
  border: none;
  .tags {
    float: left;
  }
}
